NEXT_PUBLIC_SUPABASE_URL=https://anixtuksvbhzjpcmqgle.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuaXh0dWtzdmJoempwY21xZ2xlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYxMDM5ODgsImV4cCI6MjA3MTY3OTk4OH0.HdSSVBDd36Kf1pd6hf3MHPMPSXlT1wY67sThXOBWUbc
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFuaXh0dWtzdmJoempwY21xZ2xlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjEwMzk4OCwiZXhwIjoyMDcxNjc5OTg4fQ.mjVwwqYsSwifjc9ESu1Xs8khzJvPxgZAoBbACwGV9dQ
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=azeemrauf7474@@gmail.com
SMTP_PASS=mnjb ficz bgwa zktg
SMTP_FROM="OF Assist <azeemrauf7474@gmail.com>"